.NoPadding{
  padding:0 !important;
  }
  
  input,select{
  border-radius:1px !important
  }

.searchbar {
  padding: 0px;
  position: relative;
}

i {  vertical-align: middle; }
.table-users tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.nav-user-photo {
     vertical-align: middle;
}
.user_panel {
    width: 50%;
}

.containerListView {
  left: 10%;
  width: 200%;
}

tr:hover{
  cursor: pointer;
  background-color: #ccc;
}