/*Custom style by Anhvietcr*/
html, body	{
	margin: 0;
	padding: 0;
	background: #fafafa !important;
    /*background: url(img/content.png) top left repeat;*/
}

body {
	position: relative;
}

.container-fluid {
	padding: 0 !important;
}

.frmLogin,
.frmReg  {
    background-color: #fff;
	width: 300px;
	margin: 0 auto;
	border: 1px solid #A29D9D;
	padding: 10px 15px;
	border-radius: 4px;
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
	top: 100px;
	right: 0;
	left: 0;
	position: absolute;
}

.frmLogin label,
.frmReg label {
	font-size: 15px;
	padding: 10px 0px 0px;
}

.frmLogin button,
.frmReg button {
	width: 100%;
}

.frmLogin > .submit-group,
.frmReg > .submit-group {
	text-align: center;
	font-size: 15px;
	line-height: 35px;
}

.frmLogin input[type="checkbox"] {
	margin: 5px;
}

.frmUpdate {
	margin: 0 auto;
	width: 50%;
}

.frmUpdate .submit-group {
	text-align: center;
}

.frmUpdate button {
	margin: 0 auto;
}

.frmUpdate input[type="file"] + .frmUpdate input[type="button"]{
    width: 100%;
    background: transparent !important;
    border: 0 solid #fff;
    color: #555;
    box-shadow: 0 0 1px 1px #eee;
    padding: 3px;
}

.fix-menu {
	padding: 10px 0px 0px 0px;
	background-color: rgba(45,45,45,0.98); /*#5cb85c;*/
	border-radius: 0px 0px 6px 6px;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.fix-menu #icon {
	float: left;
	position: relative;
    width: 24px;
    height: 24px;
    padding-left: 20px;
}

.fix-menu #new-request {
    color: #ff030d;
    font-size: 18px;
    font-weight: 500;
}

.fix-menu ul {
	float: right;
	list-style-type: none;
	display: inline-block;
	margin-right: 40px;
}

.fix-menu li {
	display: inline-block;
	padding: 0px 20px;
}

.fix-menu a {
	position: relative;
	color: #e0e0e0/*#fff*/;
	font-size: 16px;
}

.fix-menu a:hover {
	text-decoration: none;
	color: #fff;
	/*opacity: .65;*/
}

.fix-menu a:before,
.fix-menu a:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	animation: trans 1s forwards;
    transition: linear 0.5s;
}

.fix-menu a:hover:before {
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	top: -6px;
	left: -9px;
}

.fix-menu a:hover:after {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	bottom: -6px;
	right: -9px;
}

@keyframes trans {
	from {width: 0; height: 0}
	to {width: 10px; height: 10px;}
}

.main {
	margin: 8vh 0;
	width: inherit;
}

.content {
	width: 80%;
	display: inline-block;
    margin-right: 10px;
}


.new {
	background-color: #fff;
	border: 1px solid #dddfe2;
    border-radius: 3px;
	margin: 5px 0px;
	max-width: 800px;
	margin: 0 auto;
}

.new-title {
	padding: 12px 12px 0px;
	height: 64px;

}
.new-title img {
	float: left;
	width: 35px;
	height: 35px;
	margin-right: 15px;
	background: #fff;
	border-radius: 50%;
}

#user {
	display: flex;
	margin: 0;
	font-weight: 600;
	font-size: 16px;
	display: inline;
}

.new-title i {
	color: #999;
	display: block;
}

.new-content {
	display: block;
	font-size: 15px;
	padding: 0px 12px 0px;
}

.newsfeed {
	position: relative;
	padding: 0px 0px 8px;
}

.newsfeed ~ a {
  position: absolute;
  left: 0px;
  top: -40px;
}

.right-menu {
	position: fixed;
	width: inherit;
	display: inline-flex;
}

.right-menu .sub-menu {
	width: 30%;
	float: right;
	background-color: rgba(45,45,45,0.98); /*#5cb85c;*/
	border: 1px solid rgba(45,45,45,0.98); /*#4cb85c;*/
	border-radius: 6px;
    font-size: 16px;
}

.right-menu strong {
    font-size: 20px;
    color: #fff;
}

.right-menu ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.right-menu .sub-menu li {
    text-align: left;
    padding: 5px 10px;
    margin-left: 40px;
}

.right-menu #licon {
    position: absolute;
    background-image: url(img/list.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    left: 25px;
}

.right-menu .sub-menu li a {
    text-decoration: none;
    position: relative;
    color: #e0e0e0/*#eee*/;
}

.right-menu .sub-menu li a:hover {
    /*color: #fff;*/
    opacity: .65;
    margin-left: 2px;
}

.right-menu .sub-menu li a:hover:before {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    background-color: #fff;
    bottom: -3px;
    left: 0;
    animation-name: awidth;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes awidth {
    from {width: 0%;}
    to {width: 100%;}
}

.tabs {
	position: relative;
	width: 100%;
}

.tab {
	float: left;
}

.tab input[type="radio"] {
	display: none;
}

.tab-title {
	position: relative;
	display: block;
	cursor: pointer;
	top: 0;
	color: #555;
	padding: 15px;
	border: 1px solid #ccc;
	background-color: #fff;
}

.tab-title:hover {
	background: #4cae4c;
	color: #fff;
	border: 1px solid #fff;
}

.tab-content {
	width: 100%;
	position: absolute;
	color: #000;
	left: 0;
	transition: all 0.5s;
	opacity: 0;
	z-index: 1;
}

.tab-item:checked + .tab-title {
	top: -0.25em;
	background: #50b450;
	color: #fff;
}

.tab-item:checked + .tab-title + .tab-content {
	opacity: 1;
	z-index: 3;
}

/*make update tab content*/
.tab-content .global {
	list-style-type: none;
	text-align: center;
	padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 205px;
    grid-gap: 5px;
}

.tab-content .global li {
	padding: 15px;
	display: inline-flex;
	border: 1px solid #eee;
    background-color: rgba(255,255,255,0.6);
	justify-content: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 1px 1px #72ae71;
}

.tab-content .global li img {
	width: 64px;
	height: 64px;
    margin-bottom: 10px;
}

.tab-content .global li h2 {
    font-size: 15px;
    height: 60px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.tab-content .global li form {
    width: 100%;
}

.tab-content .global li .submit-group {
    display: inline-flex;
}

.tab-content .global li button {
    margin: 15px 0 0;
    width: 100%;
}

.copyright {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: rgba(100,100,100,0.1);
	font-size: 13px;
    padding-top: 5px;
}

.image_status {
	margin-top: 10px;
	width: 100%;
    height: 500px;
    cursor: pointer;
    z-index: 5;
    padding: 12px;
}

#icon {
	display: table-cell;
}
#icon img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-bottom: 5px;
}

.reaction ul {
    list-style: none;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: table;
}


.reaction ul li {
	justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 0px 20px;
    display: table-cell;
    flex-direction: row;
    list-style-type: none;
    cursor: pointer;
    border: 1px solid #fff;
    white-space: nowrap;
    width: 33%;
}

.reaction ul li:hover {
	background-color: #eee;
	border: 1px solid #eee;
}

.reaction-like:before {
	content: "\f004";
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.reaction-nonlike:before {
	content: "\f004";
    font-family: "Font Awesome 5 Free";
	font-weight: 500;
}

.reaction-comment:before {
	content: "\f4ad";
    font-family: "Font Awesome 5 Free";
	font-weight: 500;
}

.reaction-share:before {
	content: "\f1e0";
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

hr {
	margin: 5px 10px !important;
}

.frmComment .content_comment {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    background-color: #eee;
    padding-left: 15px;
    margin-left: 5px;
    border-radius: 20px !important;
}

.new-comment {
	padding: 12px 12px 5px 10px;
	display: table;
}

.new-comment #comment {
	display: table-cell;
	width: 100%;
}

.show-comment {
	padding: 10px 12px 10px;
}

.show-comment .detail-comment {
	display: table;
}

.show-comment .detail-comment #icon {

}

.show-comment .detail-comment #content {
	display: table-cell;
    border: 1px solid #fff;
    background-color: #eee;
    border-radius: 20px;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
}

.show-comment #user-comment {
	font-weight: 600;
    font-size: 16px;
}

.status {
    padding: 5px;
    position: relative;
    border: 1px solid #dddfe2;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: #eee;
}

.status form {
	width: 100%;
}

.status textarea {
	overflow: hidden;
	padding: 10px 10px 0px;
	width: 80%;
	font-size: 16px;
	border: 1px solid #eee/*rgba(0,0,0,0.4)*/;
	border-radius: 6px;
	min-height: 120px;
	max-height: 120px;
	width: inherit;	
    background-color: #eee;
    color: #000;
}




/*.status input[type="submit"] {
	position: absolute;
	display: inline-block;
    padding: 10px 50px;
	font-size: 16px;
	font-weight: 500;
	top: 0;
	right: 0;
	margin: 10px;
}*/

.status .status-extra-content {
	display: inline-flex;
	width: fit-content;
	position: absolute;
	right: 0;
	bottom: 16px;
	left: 0;
	margin: 0 auto;
}

.status .status-extra-content button {
	width: fit-content;
    margin: 2px 10px;
}


.status .status-extra-content select {
	width: fit-content;
    cursor: pointer;
    margin: 6px 30px 0px 30px;
    border-radius: 10px !important;
}

.status .status-extra-content hr {
	width: 100%;
    height: 1px;
    position: absolute;
    top: -8px;
}

.status .status-extra-content #btnSubmit {
	border-radius: 7px !important;
	padding: 0px 35px;
}

.status .status-extra-content #btnSubmit:hover {
	background-color: #ddd;
	color: #337ab7;
	border: 1px solid #fff;
}


#status-image {
	display: none;
}

.status .status-submit {
	position: absolute;
	display: block;
}

.focus:before {
	background-color: #000;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    display: block;
    opacity: 0.8;
    z-index: 1;
}

.center-image {
  	position: fixed;
	top: 10%;
	left: 10%;
	z-index: 9999;
	animation: zoom-image 1s;
	width: 80%;
	height: 80%;
}
@keyframes zoom-image {
	0% {top: 20%; left: 20%; transform: translate(-20%, -20%);};
	100% {top: 50%; left: 50%; transform: translate(-50%, -50%);};
}


.show-comment-status {
	display: contents;
}

.hide-comment-status {
	display: none;
}

.listfriend {
    position: fixed;
    right: 0;
    top: 40px;
    min-width: 40px;
    height: 95%;
    background: #f7f7f7/*#fff*/;
    width: 220px;
    border-left: 1px dotted;
    overflow-y: scroll;
    overflow-x: hidden;
}

.listfriend ul {
    list-style: none;
    padding-left: 5px;
}

.listfriend ul li a {
	text-decoration: none;
}

.listfriend ul li {
    height: 50px;
    padding: 10px 0px;
    border-bottom: 1px solid #e0e0e0;
    width: 200px;
}

.listfriend #ficon img {
	width: 30px;
    height: 30px;
    border-radius: 50%;
}

.listfriend #onoff {
	float: right;
    margin-right: 20px;
}

.linkpreview {
	border: 1px dotted #bbb;
    margin-top: 5px;
}

.linkpreview-status img {
    margin-top: 10px;
    .width: 100%;
    .height: 500px;
    cursor: pointer;
    padding: 100px;
    border-bottom: 1px dotted #aaa;
}

.linkpreview-comment img {
    margin-top: 10px;
    .width: 100%;
    .height: 250px;
    cursor: pointer;
    padding: 50px;
    border-bottom: 1px dotted #aaa;
}

.user-info {
	padding: 5px;
    position: relative;
    border: 1px solid #dddfe2;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
	background-image: radial-gradient(ellipse farthest-side at left center, #959595 0%, #191919 46%, #010101 50%, #0F0F0F 53%, #303030 76%, #383838 87%, #01000F 100%);
}

.user-info .info-title img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #fff;
    opacity: .9;
}

.user-info .info-title #name {
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
    line-height: 100px;
}

.user-info .info-body {
	position: absolute;
    right: 5px;
    top: 70px;
    bottom: 0;
}